<div class="container">
<div class="text-center">
  
  <h1>Welcome to Stock Tracker</h1>
  <h5>Keeping the market within reach</h5>
  <div class="col-md-4 col-md-offset-4">
    
  <button class="btn btn-primary btn-block" ui-sref='stockSearch'>Stock Search</button>
  <button class="btn btn-success btn-block" ui-sref='login' ng-if='!isAuthenticated()'>Login</button>
  <button class="btn btn-block" ui-sref='register' ng-if='!isAuthenticated()'>Register</button>
  <button class="btn btn-danger btn-block" ng-click='logout()' ng-if='isAuthenticated()'>Logout</button>
    
  </div>
</div>
</div>