<div class="container">
    <h1>Portfolio</h1>
    <div class="text-center" ng-if='stocks.length === 0'>
        <h4>There are no stocks in your Portfolio</h4>
        <button class="btn btn-primary" ui-sref='stockSearch'>Add Stocks</button>
    </div>
    <div ng-if='stocks.length > 0'>
        <div class="text-right">
        <button class="btn btn-success" ng-click='reloadStocks()'> <span ng-class='{"fa fa-refresh fa-spin fa-fw": isLoading}'></span><span ng-if='!isLoading'>Reload</span></button>
        </div>
        <table class="table">
            <thead>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Low</th>
                <th>High</th>
                <th>Change</th>
                <th>Change YTD</th>
                <th>Open</th>
                <th>Remove</th>
            </thead>
            <tbody>
                <tr ng-repeat='quote in stocks'>
                    <td>{{quote.Symbol}}</td>
                    <td>{{quote.LastPrice}}</td>
                    <td>{{quote.Low}}</td>
                    <td>{{quote.High}}</td>
                    <td ng-class='{"btn-success":quote.ChangePercent >= 0, "btn-danger":quote.ChangePercent < 0 }'>
                        {{quote.ChangePercent | number : 2}}%
                    </td>
                    <td ng-class='{"btn-success":quote.ChangePercentYTD >= 0, "btn-danger":quote.ChangePercentYTD < 0 }'>
                        {{quote.ChangePercentYTD | number : 2}}%
                    </td>
                    <td>{{quote.Open}}</td>
                    <td>
                        <div class="button btn btn-danger btn-xs" ng-click='removeStock(quote.Symbol)'>X</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
