<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form ng-submit='getQuote()'>
            <div class="form-group">
              <label>Symbol</label>
              <input type="text" class="form-control" placeholder="Enter Stock Symbol" ng-model="symbol">
            </div>
            <button class="btn btn-primary btn-block">Search</button>
        </form>
    </div>
    <div ng-if='quote'>
        <table class="table">
            <thead>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Low</th>
                <th>High</th>
                <th>Change</th>
                <th>Change YTD</th>
                <th>Open</th>
                <th ng-if='isAuthenticated()'>Add to Portfolio</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{quote.Symbol}}</td>
                    <td>{{quote.LastPrice}}</td>
                    <td>{{quote.Low}}</td>
                    <td>{{quote.High}}</td>
                    <td 
                      ng-class='{"btn-success":quote.ChangePercent >= 0, "btn-danger":quote.ChangePercent < 0 }'>
                        {{quote.ChangePercent | number : 2}}%
                    </td>
                    <td 
                      ng-class='{"btn-success":quote.ChangePercentYTD >= 0, "btn-danger":quote.ChangePercentYTD < 0 }'>
                        {{quote.ChangePercentYTD | number : 2}}%
                    </td>
                    <td>{{quote.Open}}</td>
                    <td>
                    <div class="button btn btn-success btn-xs" ng-if='isAuthenticated()' ng-click='addToPortfolio()'>+</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
